.kmmejH div {
  padding: 0px !important;
}

.eODRiq div {
  padding: 0px !important;
}

.juHKMZ div {
  padding: 0px !important;
}

.gJeAgF div {
  padding: 0px !important;
}

.ant-rate-star-first,
.ant-rate-star-second {
  padding: 0px !important;
}

.hxppdJ div {
  padding: 0px !important;
}

.cFPDAV div {
  padding: 0px !important;
}
